* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  background: url("../img/Rectangle 1.png");
}

#header .header {
  position: absolute;
  width: 80%;
  animation: header 2s ease-in-out alternate;
}
@keyframes header {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}
#header .header__logo2 {
  margin-left: 30px;
}
#header .header .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
#header .header .nav__logo {
  animation: logo 2s ease-in-out alternate;
  animation-delay: 2s;
}
@keyframes logo {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#header .header .nav__items--item {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #B5B5B5;
  margin: 0 7px;
}
#header .header .nav__items--item:hover {
  color: #F2994A;
}
#header .header .nav__btns--btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2994A;
  width: 112px;
  height: 36px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  background: transparent;
}
#header .header .nav__btns--btn:hover {
  background: #F2994A;
  color: #FFFFFF;
}
#header .header .nav__btns__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #F2994A;
  color: #FFFFFF;
  width: 112px;
  height: 36px;
  background: #F2994A;
  box-shadow: 0 0 0 0 #F2994A;
  border-radius: 4px;
  transition: ease-in-out 0.5s;
  outline: none;
}
#header .header .nav__btns__btn:hover {
  color: #F2994A;
  background: transparent;
}

#hero .hero__title {
  margin-top: 160px;
  width: 531px;
  height: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99EFD0;
  animation: title 2s ease-in-out alternate;
  animation-delay: 2s;
}
@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(0);
  }
}
#hero .hero__desc {
  width: 468px;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
  color: #8476AA;
}
#hero .hero--btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 157px;
  height: 46px;
  background: #F2994A;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  border: 1px solid #F2994A;
}
#hero .hero--btn:hover {
  color: #F2994A;
  background: transparent;
}
#hero .hero__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2994A;
  width: 157px;
  height: 46px;
  border: 1px solid #F2994A;
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
}
#hero .hero__btn:hover {
  color: #F6F6F6;
  background: #F2994A;
}
#hero .hero__img {
  width: 211px;
}
#hero .hero__imgs--img {
  width: 600px;
  height: 500px;
  margin-top: 115px;
  margin-left: -110px;
  animation: img 2s ease-in-out alternate;
  animation-delay: 2s;
  box-shadow: inset 0 0 0 0 darkblue;
  transition: ease-in-out 0.5s;
  outline: none;
}
@keyframes img {
  0% {
    transform: translateX(750px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#hero__frames__frames--frame1 {
  animation: frame1 1s ease-in-out alternate;
  animation-delay: 3.5s;
}
@keyframes frame1 {
  0% {
    transform: translateX(-200px);
    opacity: 0.1;
    color: #0dcaf0;
  }
  100% {
    transform: translateX(0);
  }
}
#hero__frames__frames--frame2 {
  animation: frame2 1s ease-in-out alternate;
  animation-delay: 4.5s;
}
@keyframes frame2 {
  0% {
    opacity: 0.1;
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
#hero__frames__frames--frame3 {
  animation: frame3 1s ease-in-out alternate;
  animation-delay: 5.5s;
}
@keyframes frame3 {
  0% {
    transform: translateX(-600px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#hero__frames__frames--frame4 {
  animation: frame4 1s ease-in-out alternate;
  animation-delay: 5.5s;
}
@keyframes frame4 {
  0% {
    transform: translateX(600px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#hero__frames__frames--frame5 {
  animation: frame5 1s ease-in-out alternate;
  animation-delay: 4.5s;
}
@keyframes frame5 {
  0% {
    transform: translateX(400px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#hero__frames__frames--frame6 {
  animation: frame6 1s ease-in-out alternate;
  animation-delay: 3.5s;
}
@keyframes frame6 {
  0% {
    transform: translateX(200px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#hero .hero-dis {
  margin-top: 30px;
  display: flex;
}
#hero .hero-dis--desc2 {
  height: 44px;
  font-size: 16px;
  color: #8476AA;
}
#hero .hero-dis__title {
  margin-left: -560px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6D6D78;
  margin-top: 43px;
}

#choice .choice__title {
  margin-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #99EFD0;
}
#choice .choice__desc {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8476AA;
}
#choice .row__title {
  font-size: 18px;
  line-height: 22px;
  color: #99EFD0;
}
#choice .row__desc {
  font-size: 14px;
  line-height: 22px;
  color: #8476AA;
}

#traffic .traffic {
  margin-top: 100px;
}
#traffic .traffic__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99EFD0;
  animation: trtit 2.5s ease-in-out alternate;
}
@keyframes trtit {
  0% {
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#traffic .traffic__desc {
  margin-top: 40px;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476AA;
}
#traffic .traffic__btn {
  margin-top: 30px;
  width: 155px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F2994A;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  border: 1px solid #F2994A;
  border-radius: 3px;
}
#traffic .traffic__btn:hover {
  color: #F2994A;
  background: transparent;
}
#traffic .traffic__img {
  margin-top: -30px;
  margin-left: 210px;
  animation: trafi1 2s ease-in-out alternate;
}
@keyframes trafi1 {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(0);
  }
}
#traffic .traffic__img2 {
  margin-left: -390px;
  margin-top: -10px;
  animation: trafi2 2s ease-in-out alternate;
}
@keyframes trafi2 {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(0);
  }
}
#traffic .traffic__img3 {
  position: absolute;
  margin-top: 285px;
  margin-left: -300px;
  animation: trafi3 2s ease-in-out alternate;
}
@keyframes trafi3 {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(0);
  }
}
#traffic .traffic__img4 {
  margin-top: -110px;
  margin-left: 400px;
}

#save .save {
  margin-top: 100px;
}
#save .save__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
  color: #99EFD0;
}
#save .save__desc {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #8476AA;
}

#next .next {
  margin-top: 100px;
}
#next .next__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #99EFD0;
}
#next .next__btn {
  margin-top: 50px;
  margin-left: 480px;
  width: 164px;
  height: 54px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F2994A;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  border: 1px solid #F2994A;
}
#next .next__btn:hover {
  color: #F2994A;
  background: transparent;
}
#next .next__img {
  display: flex;
  justify-content: center;
}

#busin .busin {
  margin-top: 100px;
}
#busin .busin__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99EFD0;
  animation: busi 2.5s ease-in-out alternate;
}
@keyframes busi {
  0% {
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#busin .busin__desc {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476AA;
}
#busin .busin__btn {
  width: 155px;
  height: 54px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F2994A;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  border: 1px solid #F2994A;
}
#busin .busin__btn:hover {
  color: #F2994A;
  background: transparent;
}
#busin .busin__img {
  animation: nexti1 3s ease-in-out alternate;
}
@keyframes nexti1 {
  0% {
    transform: translateX(200px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
  }
}
#busin .busin__img2 {
  position: absolute;
  margin-top: -500px;
  margin-left: 135px;
}
#busin .busin__img3 {
  position: absolute;
  margin-top: -250px;
  margin-left: 378px;
}
#busin .busin__img4 {
  position: absolute;
  margin-top: -380px;
  margin-left: 70px;
}

#online .online {
  margin-top: 100px;
}
#online .online__img {
  animation: oni1 2s ease-in-out alternate;
}
@keyframes oni1 {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#online .online__img2 {
  margin-left: -200px;
  position: absolute;
  margin-top: 240px;
  animation: oni1 2s ease-in-out alternate;
}
@keyframes oni1 {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#online .online__img3 {
  position: absolute;
  margin-left: 240px;
  margin-top: 240px;
  animation: oni1 2s ease-in-out alternate;
}
@keyframes oni1 {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#online .online__img4 {
  position: absolute;
  margin-top: 25px;
  margin-left: -100px;
  animation: oni1 2s ease-in-out alternate;
  animation-delay: 1.5s;
}
@keyframes oni1 {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#online .online__title {
  margin-top: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #99EFD0;
}
#online .online__desc {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476AA;
}
#online .online__arrows {
  margin-top: 80px;
}
#online .online__svg {
  display: flex;
  flex-direction: row;
}
#online .online__tit {
  width: 92px;
  height: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #99EFD0;
}
#online .online__de {
  width: 224px;
  height: 60px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476AA;
}

#get .get {
  margin-top: 100px;
  margin-left: 100px;
  background: midnightblue;
  width: 940px;
  height: 324px;
  animation: get 3s ease-in-out alternate;
}
@keyframes get {
  0% {
    transform: translateX(-1200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
#get .get__title {
  margin-top: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #F2994A;
}
#get .get__desc {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95A1BB;
}
#get .get__inputs {
  margin-top: 30px;
}
#get .get__inputs--input {
  width: 308px;
  height: 56px;
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  color: #fff;
  border-radius: 5px;
}
#get .get__btn {
  width: 128px;
  height: 56px;
  background: #F2994A;
  border-radius: 0 5px 5px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 0 #F2994A;
  transition: ease-in-out 0.5s;
  outline: none;
  border: 1px solid #F2994A;
}
#get .get__btn:hover {
  color: #F2994A;
  background: transparent;
}
#get .get__de {
  margin-top: 20px;
  margin-left: 300px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476AA;
}

#foot .foot {
  margin-top: 100px;
}
#foot .foot__title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #F2994A;
  animation: foottit 4s ease-in-out alternate;
}
@keyframes foottit {
  0% {
    transform: translateX(600px);
  }
  50% {
    color: #F6F6F6;
  }
  100% {
    transform: translateX(0);
  }
}
#foot .foot .foots {
  display: flex;
  justify-content: space-around;
}
#foot .foot .foots__icon {
  margin: 0 10px;
}
#foot .foot__ul {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#foot .foot__li {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
